body {
  color: #1a1a1a;
}

#hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#859a9f00, #859a9fc9), url('images/background-1.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#music {
  background: linear-gradient(#e2ebe8a6, #e2ebe88e), url('images/background-3.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about {
  background: linear-gradient(#e2ebe8a6, #e2ebe88e), url('images/Royale-About-Us.jpg') no-repeat center;
  background-size: cover;
  background-position: 50% 35%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#player {
  background-color: #060606;
  box-shadow: 4px 4px 1px -1px #1a1a1a;
  height: 160px;
  width: 800px;
  border-radius: 1em;
}

.jumbotron {
  margin-bottom: 0;
}

iframe {
  display: block;
}

h1 {
  display: block;
}

.card-header h1 {
  color: white;
}

.col {
  display: flex;
  flex-direction: column;
}

#music .container .row .col-md-10.col-lg-6 {
  display: flex;
  flex-direction: column;
}

.bg-dark {
  background-color: #343a40c9 !important;
}